ul li
{
	display: table-cell; 
	background: rgb(156, 188, 219); 
}

ul li a
{
	display: block; 
	text-align: center; 
	text-decoration: none; 
	padding: 8px 8px 15px 8px;
	color: rgba(0,0,0,.7);
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.7) inset ; 
}
ul
{
	display: table; 
	width: 500px; 
	margin: 50px auto; 
	padding: 0; 
	font: 1.1em sans-serif; 
}

ul li a:hover,ul li a:focus
{
	background-color: rgba(255,255,255,.2); 
	padding:8px 25px 17px 25px; 
	box-shadow: 0 1px 0 rgba(255,255,255,.7) inset;
}

ul li a:active
{
	background-color: rgba(0,0,0,.15); 
}